In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/world-instant-noodles-consumption-2022/noodles.csv

In [ ]:
df = pd.read_csv("/kaggle/input/world-instant-noodles-consumption-2022/noodles.csv")
df.head(5)

,Country/Region,2018,2019,2020,2021,2022,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population
0,China,40250.0,41450.0,46360.0,43990,45070.0,1,CHN,China,Beijing,Asia,1425887337
1,Indonesia,12540.0,12520.0,12640.0,13270,14260.0,4,IDN,Indonesia,Jakarta,Asia,275501339
2,India,6060.0,6730.0,6730.0,7560,7580.0,2,IND,India,New Delhi,Asia,1417173173
3,Japan,5780.0,5630.0,5970.0,5850,5980.0,11,JPN,Japan,Tokyo,Asia,123951692
4,Philippines,3980.0,3850.0,4470.0,4440,4290.0,13,PHL,Philippines,Manila,Asia,115559009

In [ ]:
df.sample(5)

,Country/Region,2018,2019,2020,2021,2022,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population
19,Bangladesh,310.0,370.0,370.0,430,440.0,8,BGD,Bangladesh,Dhaka,Asia,171186372
31,Ethiopia,80.0,80.0,120.0,130,140.0,12,ETH,Ethiopia,Addis Ababa,Africa,123379924
37,Czech Republic,60.0,70.0,70.0,70,70.0,88,CZE,Czech Republic,Prague,Europe,10493986
46,Belgium,10.0,20.0,20.0,20,20.0,81,BEL,Belgium,Brussels,Europe,11655930
0,China,40250.0,41450.0,46360.0,43990,45070.0,1,CHN,China,Beijing,Asia,1425887337

In [ ]:
df.size

636

In [ ]:
num_of_rows , nums_of_columns = df.shape
print(f"number of rows = {num_of_rows} and number of columns = {nums_of_columns}")

number of rows = 53 and number of columns = 12

In [ ]:
df.columns

Index(['Country/Region', '2018', '2019', '2020', '2021', '2022', 'Rank',
       'CCA3', 'Country/Territory', 'Capital', 'Continent', '2022 Population'],
      dtype='object')

In [ ]:
df.describe()

,2018,2019,2020,2021,2022,Rank,2022 Population
count,52.000000,52.000000,52.000000,53.000000,52.000000,53.000000,5.300000e+01
mean,1782.692308,1833.461538,1989.423077,1952.075472,2046.730769,45.698113,1.143409e+08
std,5849.555410,6009.552815,6659.770771,6321.729120,6554.724900,36.322056,2.691011e+08
min,10.000000,10.000000,0.000000,10.000000,10.000000,1.000000,5.180829e+06
25%,50.000000,57.500000,67.500000,60.000000,67.500000,17.000000,1.784391e+07
50%,190.000000,230.000000,240.000000,270.000000,260.000000,37.000000,3.985714e+07
75%,902.500000,915.000000,942.500000,900.000000,1037.500000,68.000000,8.855057e+07
max,40250.000000,41450.000000,46360.000000,43990.000000,45070.000000,124.000000,1.425887e+09

In [ ]:
df.dtypes

Country/Region        object
2018                 float64
2019                 float64
2020                 float64
2021                   int64
2022                 float64
Rank                   int64
CCA3                  object
Country/Territory     object
Capital               object
Continent             object
2022 Population        int64
dtype: object

In [ ]:
missing_values = df.isnull().sum()
missing_values

Country/Region       0
2018                 1
2019                 1
2020                 1
2021                 0
2022                 1
Rank                 0
CCA3                 0
Country/Territory    0
Capital              0
Continent            0
2022 Population      0
dtype: int64

In [ ]:
unique_values = df[['Country/Region','CCA3','Country/Territory', 'Capital', 'Continent', '2022 Population']].value_counts()
unique_values.head(5)

Country/Region  CCA3  Country/Territory  Capital       Continent      2022 Population
Argentina       ARG   Argentina          Buenos Aires  South America  45510318           1
Malaysia        MYS   Malaysia           Kuala Lumpur  Asia           33938221           1
Myanmar         MMR   Myanmar            Nay Pyi Taw   Asia           54179306           1
Nepal           NPL   Nepal              Kathmandu     Asia           30547580           1
Netherlands     NLD   Netherlands        Amsterdam     Europe         17564014           1
Name: count, dtype: int64

In [ ]:
unique_continents = df['Continent'].unique()
unique_continents

array(['Asia', 'South America', 'Africa', 'Europe', 'North America',
       'Oceania'], dtype=object)

In [ ]:
df.columns

Index(['Country/Region', '2018', '2019', '2020', '2021', '2022', 'Rank',
       'CCA3', 'Country/Territory', 'Capital', 'Continent', '2022 Population'],
      dtype='object')

In [ ]:
df2 = df.copy()

In [ ]:
df2 = df2.drop(['CCA3'], axis=1)

In [ ]:
df2 = df2.drop(['Country/Region'], axis=1)

In [ ]:
df2['2018'].fillna(df2['2018'].mean() ,inplace=True)
df2['2019'].fillna(df2['2019'].mean() ,inplace=True)
df2['2020'].fillna(df2['2020'].mean() ,inplace=True)
df2['2022'].fillna(df2['2022'].mean() ,inplace=True)

In [ ]:
max_population_value = df2['2022 Population'].max()
max_population_value

1425887337

In [ ]:
high_population_countries = df2[df2['2022 Population'] < 15000000]
high_population_countries

,2018,2019,2020,2021,2022,Rank,Country/Territory,Capital,Continent,2022 Population
32,130.000000,130.000000,160.000000,140,130.0,113,Singapore,Singapore,Asia,5975689
35,80.000000,90.000000,90.000000,90,100.0,123,New Zealand,Wellington,Oceania,5185288
37,60.000000,70.000000,70.000000,70,70.0,88,Czech Republic,Prague,Europe,10493986
39,40.000000,50.000000,60.000000,60,60.0,87,Sweden,Stockholm,Europe,10549347
42,1782.692308,1833.461538,1989.423077,50,50.0,105,Serbia,Belgrade,Europe,7221365
45,30.000000,40.000000,40.000000,40,40.0,94,Hungary,Budapest,Europe,9967308
46,10.000000,20.000000,20.000000,20,20.0,81,Belgium,Brussels,Europe,11655930
47,20.000000,20.000000,10.000000,10,20.0,115,Denmark,Copenhagen,Europe,5882261
48,10.000000,20.000000,20.000000,20,20.0,118,Finland,Helsinki,Europe,5540745
49,10.000000,10.000000,10.000000,10,20.0,101,Switzerland,Bern,Europe,8740472
51,10.000000,10.000000,10.000000,20,10.0,124,Costa Rica,San José,North America,5180829